# THIS IS THE USER SETTINGS TEMPLATE FILE
# DO NOT CHANGE THIS FILE
#
# HOW TO USE:
# - duplicate this file and save it as "user_settings.py"
# - change usb port according to your machine
#
# DO NOT COMMIT "user_settings.py" ON GIT

# -*- coding: utf-8 -*-

import logging

API_LOG_LEVEL = logging.INFO # For more detail use logging.DEBUG
EXAMPLE_SCRIPT_LOG_LEVEL = logging.INFO

SERIAL_PORT = 'YOUR SERIAL PORT HERE'

WORKSPACE_PATH = 'FOLDER PATH FOR BPOD OUTPUT'